---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/octocat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1442256969'
      Last-Modified:
      - Tue, 01 Sep 2015 00:22:28 GMT
      Etag:
      - W/"c38690ac8dea5d0b0110989a8dafe39b"
      X-Oauth-Scopes:
      - gist, public_repo
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"octocat","id":583231,"avatar_url":"https://avatars.githubusercontent.com/u/583231?v=3","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false,"name":"The
        Octocat","company":"GitHub","blog":"http://www.github.com/blog","location":"San
        Francisco","email":"octocat@github.com","hireable":null,"bio":null,"public_repos":5,"public_gists":8,"followers":1116,"following":6,"created_at":"2011-01-25T18:44:36Z","updated_at":"2015-09-01T00:22:28Z"}'
  recorded_at: Mon, 14 Sep 2015 18:48:01 GMT
recorded_with: VCR 2.9.3
